:root{
  font-size: 16px;
  box-sizing: border-box;
}
body {
  --gradient-first: #c9e2fa;
  --gradient-second: #b3d6f6;
  --bg-auth-box: #fbfbfb;
  --txt-auth-color: #0a1115;
  --border-input: #5087be;
  --hint-color: #8f9090;
  --shadow: #3a3c3d;
  --bg-positive: #44b887;
  --sw-positive: #5bb58f;
  --bg-negative: #b04f83;
  --sw-negative: #a85883;
  
  --bg-chat: var(--gradient-second);
  --bg-sidebar: #2a4557;
  --bg-navbar: #1c2b35;
  --bg-chat-header: #3a4a55;
  --bg-message-owner: #61bbf6;
  --bg-message-friend: white;
  --bg-chat-footer: #d1d2d2;
  --txt-main: white;
  --txt-hint: #d7dadc;
  --size-friend-name: 1.2rem;
  --h-chat-header: 10%;
  --h-chat-main: calc(100% - (var(--h-chat-header) * 2));
  --w-sidebar: 35%;
  --w-chat: calc(100% - var(--w-sidebar));
  --mg-message-content-text: .5rem;
  --br-radius-mes-content-fr: 0rem .7rem .7rem .7rem;
  --br-radius-mes-content-ow: .7rem 0rem .7rem .7rem;
  --br-radius-mes-image: 10%;
  --sw-btn-positive: 0px 0px 10px var(--sw-positive);
  --sw-btn-negative: 0px 0px 10px var(--sw-negative);

  font-family: 'Nunito', sans-serif; 
  /*font-family: 'Edu TAS Beginner', cursive;*/
  background: linear-gradient(45deg, var(--gradient-first), var(--gradient-second)) no-repeat fixed center border-box;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6{
  font-size: 1rem;
  font-weight: 400;
}
@keyframes bounce {
  0% {
  transform: scale(1,1) translate(0px, 0px);
  }

  30%{
  transform: scale(1,0.8) translate(0px, 2px); 
  }

  75%{
  transform: scale(1,1.1) translate(0px, -2px); 
  }

  100% {
  transform: scale(1,1) translate(0px, 0px);
  }
}
button{
  cursor: pointer;
  /* transition: all 300ms ease-in-out;
  transform: scale(1); */
  outline: none;
  border: none;
  font-size: 1rem;
}
.btn{
  transition: all 300ms ease-in-out;
}
.btn:hover{
  transform: scale(1.05);
}
.app{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.app-loading-page{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-chat-header);
  font-size: 3rem;
  text-transform: capitalize;
}
/*----------- Login&Register -----------*/
.auth-box{
  color: var(--txt-auth-color);
  background-color: var(--bg-auth-box);
  padding: .8rem 4rem;
  width: 35%;
  border-radius: .4rem;
}
.auth-box-title{
  font-size: 2rem;
  font-weight: 700;
  padding-top: .8em;
  padding-bottom: .5em;
  text-align: center;
  color: rgba(52, 129, 187, 0.8);
}
.auth-box-type{
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.input-field-box{
  position: relative;
  border-bottom: 2px solid var(--hint-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin: 2rem 0rem;
}
.input-field-box:hover{
  border-bottom: 2px solid var(--border-input);
}
.input-field{
  padding: .8rem .5rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.auth-input-label{
  position: absolute;
  top: 50%;
  left: .5rem;
  font-size: .9rem;
  color: var(--hint-color);
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 350ms ease-out;
}


.input-field:focus ~ .auth-input-label,
.input-field:valid ~ .auth-input-label{
  top: -3px;
  left: .2rem;
  font-size: .7rem;
}

.auth-btn-submit{
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--border-input);
  text-align: center;
  padding: .8rem 0rem;
  color: var(--bg-auth-box);
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 5px var(--hint-color);
  transition: transform 300ms ease-in-out;
}
.auth-btn-submit:hover{
  transform: scale(1.02);
}
.auth-footer-notice{
  text-align: center;
}
.auth-nav-link{
  text-decoration: none;
  color: var(--border-input);
  font-weight: 300;
  position: relative;
}
.auth-nav-link::after{
  content: "";
  position: absolute;
  left: -3px;
  right: -3px;
  bottom: -3px;
  height: .5px;
  background-color: var(--border-input);
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: transform 300ms ease-out;
}
.auth-nav-link:hover::after{
  transform: scale(1);
}
.auth-error-text{
  color: red;
  font-size: .7rem;
  text-align: left;
  position: absolute;
  left: 3px;
  bottom: -20px;
}

.input-file-desctop{
  position: relative; /* for error handling */
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.input-file-desctop .profile-img{
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  color: var(--border-input);
}
.profile-img.selected{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.input-file{
  display: none;
}
.input-profile-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------- HOME --------- */

.home-screen{
  width: 60%;
  height: calc(100vh - 100px);
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 5px 10px var(--shadow);
  background: linear-gradient(120deg, var(--gradient-first), var(--gradient-second)) center no-repeat cover fixed border-box;
}

/* --------- SIDEBAR --------- */
.home-sidebar{
  width: var(--w-sidebar);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-sidebar);
}
.btn-sidebar-toggle{
  width: 2rem;
  height: 2rem;
  color: var(--bg-auth-box);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  /* z-index: 10; */
}
.btn-sidebar-toggle.open{
  right: 5px;
}
.btn-sidebar-toggle.closed{
  right: -30px;
}
/* --------- NAVBAR --------- */
.home-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--h-chat-header);
  padding: 0em .8em;
  background-color: var(--bg-navbar);
}
.navbar-app-name{
  font-size: 1.2rem;
  color: var(--txt-main);
  font-weight: 600;
}
.navbar-owner-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}
.navbar-owner-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar-owner-name{
  padding-left: .7rem;
  color: var(--txt-hint);
}

/* --------- SEARCH --------- */

.home-search{
  border-bottom: 1px solid var(--txt-hint);
  padding: .6em .8em;
  position: relative; /* for error handling */
}
.search-input-box{
  display: flex;
  flex-direction: row;
}
.btn-clear-search-result{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
}
.btn-clear-search-result:hover{
  animation: bounce 0.75s 1;
}
.search-input{
  flex-grow: 1;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  color: var(--txt-main);
  padding-right: .5rem;
}
.search-input::placeholder{
  color: var(--txt-hint);
}

/* --------- FRIEND --------- */
.sidebar-friends{
  flex-grow: 1;
  display: flex;
  padding: 1em 0em;
  flex-direction: column;
}
/* .sidebar-friends > * + * {
  margin-top: 2em;
} */
.home-friend{
  width: 100%;
  display: flex;
}
.friend-main-box{
  flex-grow: 1;
  padding: .5em .3em;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-friend:hover{
  background-color: var(--bg-navbar);
}
.friend-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.friend-content-box{
  padding-left: .5em;
}
.friend-title{
  color: var(--txt-main);
  font-size: var(--size-friend-name);
  font-weight: 300;
  transition: all 300ms ease-out;
  word-break: break-all;
}
.friend-description{
  color: var(--txt-hint);
  font-size: .8rem;
  word-break: break-all;
}

.friend-unreaded-messages-box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px .5em;
}
.friend-unreaded-messages-content{
  background-color: var(--bg-message-owner);
  color: white;
  font-size: .8rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 750ms infinite;
}

/* --------- SIDEBAR FOOTER --------- */
.sidebar-footer{
  height: var(--h-chat-header);
  background-color: var(--bg-navbar);
}
.btn-sidebar-logout{
  width: 100%;
  height: 100%;
  color: var(--txt-hint);
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all .4s ease-in-out;
  background-size: 300% 100%;
  cursor: pointer;
}
/* .color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
} */
.btn-sidebar-logout:hover {
  background-position: 100% 0%;
}

/* --------- CHAT --------- */
.home-chat{
  width: var(--w-chat);
  background-color: var(--bg-chat);
  display: flex;
  flex-direction: column;
}
/* .chat-header,
.chat-main,
.chat-footer{
  width: 100%;
} */
/* --------- CHAT HEADER--------- */
.chat-header{
  flex: 0 0 auto;
  height: var(--h-chat-header);
  background: var(--bg-sidebar);
  display: flex;
  align-items: center;
  padding: 0em .8em;
}
.chat-friend-name{
  color: var(--txt-hint);
  font-size: var(--size-friend-name);
  font-weight: 300;
}
.chat-action-buttons-box{
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 1.2rem;
  color: var(--txt-hint);
}
.chat-action-buttons-box > * + *,
.chat-message-actions-box > * + *{
  margin-left: .6em;
}
/* --------- CHAT MAIN--------- */
.chat-main{
  flex: 1 0 auto;
  height: var(--h-chat-main);
  padding: .5rem 0rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.empty-chat{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-empty-content{
  word-break: break-all;
  font-size: 1.2rem;
  color: var(--hint-color);
}

/* --------- CHAT FOOTER--------- */
.chat-footer{
  flex: 0 0 auto;
  position: relative; 
  height: var(--h-chat-header);
  background-color: var(--bg-auth-box);
  padding: 0em .8em;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.chat-footer-error{
  color: red;
  font-size: .8rem;
  text-align: left;
  position: absolute;
  left: 10px;
}
.chat-message-input{
  outline: none;
  border: none;
  flex-grow: 1;
  background: transparent;
  color: var(--bg-sidebar);
  font-size: 1rem;
}
.chat-message-input::placeholder{
  color: var(--txt-hint);
  font-size: 1rem;
}
.chat-message-actions-box{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--bg-sidebar);
}
.chat-message-actions-box label{
  position: relative;
}
.btn-chat-preview-files{
  position: absolute;
  bottom: -.8rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-navbar);
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: .6rem;
  color: var(--bg-auth-box);
  cursor: pointer;
  animation: bounce 1.25s infinite;
}
.chat-btn-send-message{
  outline: none;
  border: none;
  padding: .6em 1em;
  color: var(--txt-main);
  background-color: var(--border-input);
}
/* .chat-footer-preview-block{
  position: absolute;
  top: -2.2rem;
  background: #0a1115;
  width: 100%;
} */
/* .chat-footer-img-pereview{
  width: 2rem;
  height: 2rem;
  object-fit: cover;
} */

/* --------- MESSAGE --------- */
.chat-message{
  display: flex;
  flex-direction: column;
  margin: .8em 0em;
}
.message-container{
  display: flex;
}
.message-container.friend-message{
  flex-direction: row;
}
.message-container.owner-message{
  flex-direction: row-reverse;
}
.message-profile-img{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.message-date-time{
  font-size: .6rem;
  margin-top: .5em;
  color: var(--hint-color);
}
.message-info{
  display: flex;
  width: 10%;
  flex-direction: column;
  align-items: center;
  padding: .2rem .6rem;
}
.message-content{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0px .5rem;
}
.message-content-text{
  word-break: break-all;
  padding: .5em 1.2em;
}
.message-content-text.friend-content{
  background-color: var(--bg-auth-box);
  color: var(---border-input);
  border-radius: var(--br-radius-mes-content-fr);
  /* margin-left: var(--mg-message-content-text); */
}
.message-content-text.owner-content{
  background-color: var(--border-input);
  color: var(--bg-auth-box);
  border-radius: var(--br-radius-mes-content-ow);
  /* margin-right: var(--mg-message-content-text); */
}
.message-content-files{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 150px));
  grid-template-rows: 1fr;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-gap: .3em;
  /* grid-template-rows: 1fr;
  grid-auto-flow: dense; */
  padding: 1rem;
  margin-top: 1rem;
  background: rgba(0, 0, 0, .2);
  transition: all 300ms ease-in-out;
}
.message-content-files.friend-content{
  border-radius: var(--br-radius-mes-content-fr);
  margin-right: var(--mg-message-content-text);
}
.message-content-files.owner-content{
  border-radius: var(--br-radius-mes-content-ow);
  margin-left: var(--mg-message-content-text);
}
.message-file{
  max-width: 100%;
  border-radius: var(--br-radius-mes-image);
  cursor: pointer;
}
.message-file.document{
 font-size: 5rem;
}
.message-content-files-container{
  display: flex;
  flex-direction: column-reverse;
}
.message-link-download-file{
  display: block;
  text-align: center;
}
.btn-view-all-files{
  grid-column: span 2;
  color: white;
  font-size: .8rem;
  text-align: center;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.message-read-status{
  display: flex;
  flex-direction: row-reverse;
  margin-right: .6rem;
}
/* .btn-view-all-images:hover{
  color: white;
} */
/* .btn-view-all-images:hover ~ .message-content-files{
  box-shadow: 0px 0px 5px white;
} */

/* --------- SelectedFiles --------- */
.selected-files-box{
  position: fixed;
  display: flex;
  flex-direction: column;
  right: -1000px;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 1em;
  border-radius: .4em 0px 0px .4em;
  background-color: rgba(0, 0, 0, .8);
  transition: all 500ms ease-in-out;
}
.selected-files-box.open{
  right: 0;
}
.selected-files-header{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: .5rem 0px;
  color: white;
  text-transform: capitalize;
}

.selected-files-items-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow: auto;
  padding: 1rem;
}
.selected-files-items-box > * + *{
  margin-left: .8em;
}
.selected-files-item{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  align-items: center;
  width: 20%;
}
/* .selected-files-options{
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;

  display: flex;
  flex-direction: row;
  gap: .3em;
}
.selected-files-option{
  border: 1px solid black;
}
.selected-files-item:hover .selected-files-options{
  opacity: 1;
} */

/* .selected-files-image-box:hover .selected-files-item-view-option{
  margin-top: 0px;
  background: rgba(0,0,0,0.4);
}
.selected-files-image-box:hover .selected-files-item-delete-option{
  margin-top: 0px;
  background: rgba(0,0,0,0.4);
} */
.selected-files-type{
  height: 6rem;
  width: 6rem;
  border-radius: var(--br-radius-mes-image);
}
.selected-files-type.image{
  box-shadow: 0px 0px 8px white;
  object-fit: cover;
  cursor: pointer;
}
.selected-file-description{
  text-align: center;
  padding: .2rem;
  font-size: .8rem;
  font-weight: 300;
  color: white;
  margin-top: .6rem;
  word-break: break-all;
}
.selected-files-btn-box{
  /* margin-top: auto; added flex-grow: 1; to flex-container*/
  display: flex;
  padding: .5rem 0px;
  justify-content: center;
  align-items: center;
}
.selected-files-btn-box > * + *{
  margin-left: 1rem;
}
.selected-files-btn{
  width: 150px;
  padding: .6em 1.2em;
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
.selected-files-btn.confirmation{
  background-color: var(--bg-positive);
  box-shadow: var(--sw-btn-positive);
}
.selected-files-btn.delete{
  background-color: var(--bg-negative);
  box-shadow: var(--sw-btn-negative);
}
.modal-box{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, .4);
}

/* --------- Confirmation Box --------- */
.confirmation-box{
  width: 35%;
  border-radius: 1em;
  background: linear-gradient(var(--bg-message-owner), var(--border-input));
  box-shadow: 2px 2px 8px rgba(255, 255, 255, .3);
}
.confirmation-text{
  font-size: 1rem;
  color: white;
  padding: 1.5rem .5rem;
  text-align: center;
}
.confirmation-btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmation-btn{
  width: 20%;
  border-radius: 1em;
  margin: .5em 0px;
  padding: .4em 0px;
  outline: none;
  border: none;
  font-size: .8rme;
  color: white;
  cursor: pointer;
}
.confirmation-btn.positive{
  background-color: var(--bg-positive);
}
.confirmation-btn.negative{
  background-color: var(--bg-negative);
}
.confirmation-btn-box > * + *{
  margin-left: .5rem;
}

/* --------- SPINNER --------- */
.loading-spinner{
  width: 100px;
  height: 100px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to{
    transform: rotate(360deg);
  }
}

/* --------- Waiting Spinner --------- */
.waiting-spinner{
  height: 30px;
  width: 30px;
  position: relative;
}
.waiting-spinner span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: rotate(calc(18deg * var(--index)));
}
.waiting-spinner span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--border-input);
  box-shadow: 0 0 10px var(--border-input),
              0 0 20px var(--border-input),
              0 0 40px var(--border-input),
              0 0 60px var(--border-input),
              0 0 80px var(--border-input),
              0 0 100px var(--border-input);
  animation: waiting-sp-animation 1.5s linear infinite;
  animation-delay: calc(0.1s * var(--index));
}
@keyframes waiting-sp-animation {
  0%{
    transform: scale(1);
  }
  80%,100%{
    transform: scale(0);
  }
}

/* --------- View Image --------- */
.view-image-box{
  height: 80vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-sidebar);
}
.view-image-header{
  display: flex;
  justify-content: baseline;
  padding: .5em 1em;
  border-bottom: 1px solid white;
}
.view-image-title{
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}
.btn-close-view-image{
  font-size: 1.5rem;
  color: white;
  margin-left: auto;
  cursor: pointer;
}
.btn-close-view-image:hover{
  animation: bounce 0.75s 1;
}
.view-image-content{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewed-image{
  width: 400px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0px 0px 5px white;
}
.viewed-image.rounded{
  border-radius: 50%;
}
.view-image-btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: .8em 0px;
}
.view-image-btn-box > * + * {
  margin-left: 1rem;
}
.btn-view-image{
  width: 200px;
  font-size: 1.2rem;
  color: white;
  padding: .8em 0px;
  font-weight: 400;
}
.btn-view-image.confirm{
  background-color: var(--bg-positive);
  box-shadow: var(--sw-btn-positive);
}
.btn-view-image.reject{
  background-color: var(--bg-negative);
  box-shadow: var(--sw-btn-negative);
}


/* --------- MEDIA --------- */
@media screen and (max-width: 75rem) {  /* 1200 */
  .home-screen{
    width: 70%;
  }
  .auth-box{
    padding: .8rem 2rem
  }
}
@media screen and (max-width: 64rem) {  /* 1024 */
  .home-screen{
    width: 80%;
  }
  .auth-box{
    width: 50%;
  }
}
@media screen and (max-width: 60rem) {  /* 960 */
  .home-screen{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .home-sidebar{
    position: absolute;
    z-index: 10;
    width: 50%;
    left: -50%;
    top: 0;
    bottom: 0;
    transition: all 350ms ease-in-out;
  }
  .home-sidebar.open{
    left: 0;
  }
  .home-chat{
    flex-basis: 100%;
  }
  .btn-sidebar-toggle{
    display: initial;
  }
}
@media screen and (max-width: 48rem) { /* 768 */
  .home-screen{
    width: 100%;
    height: 100vh;
    border-radius: none;
    box-shadow: none;
  }
  .auth-box{
    width: 80%;
  }
  .home-sidebar{
    width: 100%;
    left: -100%;
  }
}

@media screen and (max-width: 30rem) { 
  /* .home-screen{
    width: 100%;
    height: 100vh;
    border-radius: none;
  } */
  .auth-box{
    width: 100%;
    height: 100vh;
  }
}

